@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.banner{
    
    width: 1300px;
    margin: auto;
    height: 600px;
    border: 2px solid red;
    min-height: 600px;
   margin-top: 15px;
   background-image: url("../images/Banner\ Image.png");
   background-position: center;
   border-radius: 10px;
  background-color: rgb(0 ,0, 0, 0.5);
  background-blend-mode: overlay;
}

.caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;

    text-align: center;
    font-size: 34px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0px%;
    color: rgb(255, 255, 255);
    
   

}